<section class="section">
    <div class = "container">
        <h1 class="title is-2 has-text-centered">What potion would you like to sell?</h1>
        <%= render 'form', listing: @listing %>
    </div>
</section>

