 <!-- Footer and cool effect thing -->
 <section class="wave_section">
    <div class="columns is-centered">
    <h1 class="index-title"> Welcome to Alchemy </h1>
    </div>
    <div class="columns is-centered">
      <%= image_tag "potion.jpeg", class: 'potion' %>
    </div>
    <div class="columns is-centered">
      <p> Your one stop shop for locally sourced, resonable priced, quality potions.</p>
    </div>
    <div class="wave">
    </div>
  </section>