<section class="wave_section">
    <div class="columns is-centered">
    <h1 class="index-title"> Your Order has been teleported to you, enjoy. </h1>
    </div>
    <div class="columns is-centered">
      <%= image_tag "potion.jpeg", class: 'potion' %>
    </div>
    <div class="columns is-centered">
      <p class="index-text"></p>
    </div>
    <div class="wave">
    </div>
  </section>